<ion-view view-title="Search">
	<body ng-app="starter">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Image Search X</h1>
      </ion-header-bar>
      <ion-content class="padding" ng-controller="MainCtrl">
						
				<div class="list">
				<label class="item item-input">
					<input type="search" placeholder="obama" ng-model="search">
				</label>
				<button class="button button-full button-assertive" ng-click="doSearch()">Search XY</button>
				</div>

				<ion-slide-box>
					<ion-slide ng-repeat="image in images">
						<img ng-src="{{image.MediaUrl}}" style="width:300px;height:300px;margin:auto;display:block" >
					</ion-slide>
				</ion-slide-box>
				
      </ion-content>
    </ion-pane>
  </body>
 </ion-view>
	
